<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<div class="button1"><%= link_to 'New Blog', new_blog_path %></div>

<% @blogs.each do |blog| %>
    <hr>
    <h2><%= link_to  blog.title, blog  %></h2>
    <p><%= blog.body %></p>
    <div class="container-button">
      <div class="button">
        <%= link_to 'Edit', edit_blog_path(blog) %>
      </div>
      <div class="button">
        <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
<% end %>